.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 10px;
  color: #888;
}

.search-input {
  width: 100%;
  padding: 10px 35px; /* Espacio para el icono y el botón de cerrar */
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

.clear-search-btn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
}